<div class="ivy-tabs" ...attributes>
{{~yield (hash tablist=(component "ivy-tabs-tablist" selection=@selection tabsContainer=this) tabpanel=(component "ivy-tabs-tabpanel" selection=@selection tabsContainer=this))~}}
</div>
