<h2>Basic Example</h2>

<p>Here's a very basic example of <code>ivy-tabs</code> in action. Here we've defined some tabs and tabpanels directly in our template. We've bound the active selection to a <code>selection</code> property, which is currently set to <code>{{selection}}</code>.</p>

<div class="example">
  {{#ivy-tabs selection=selection as |tabs|}}
    {{#tabs.tablist class="nav nav-tabs" id="basic-tablist" tagName="ul" as |tablist|}}
      <li class="{{if (eq selection "A") "active"}}" role="presentation">
        {{#tablist.tab "A" id="basic-tab-a" on-select=(action (mut selection))}}Tab A{{/tablist.tab}}
      </li>
      <li class="{{if (eq selection "B") "active"}}" role="presentation">
        {{#tablist.tab "B" id="basic-tab-b" on-select=(action (mut selection))}}Tab B{{/tablist.tab}}
      </li>
      <li class="{{if (eq selection "C") "active"}}" role="presentation">
        {{#tablist.tab "C" id="basic-tab-c" on-select=(action (mut selection))}}Tab C{{/tablist.tab}}
      </li>
    {{/tabs.tablist}}

    <div class="tab-content">
      {{#tabs.tabpanel "A" class="tab-pane" id="basic-panel-a"}}
        <p>Kale chips marfa next level hella hot chicken. Post-ironic snackwave dreamcatcher lyft, hot chicken brunch roof party small batch quinoa migas ugh. Live-edge beard leggings affogato, marfa yr brooklyn. Jean shorts artisan cred schlitz gluten-free pour-over distillery sriracha portland iceland, normcore kombucha roof party. Gentrify truffaut hot chicken air plant, hashtag la croix photo booth kogi live-edge. Bitters kogi subway tile tousled offal bushwick narwhal fam. Cray salvia poutine, jianbing ethical hot chicken whatever VHS.</p>
      {{/tabs.tabpanel}}

      {{#tabs.tabpanel "B" class="tab-pane" id="basic-panel-b"}}
        <p>Green juice vice PBR&amp;B +1 affogato. Sustainable lumbersexual fam, glossier letterpress mustache street art tilde 3 wolf moon viral. Enamel pin trust fund chia YOLO, PBR&amp;B organic ethical cardigan lomo migas pour-over shoreditch dreamcatcher. Enamel pin kickstarter godard organic authentic, butcher snackwave paleo celiac messenger bag roof party keffiyeh distillery. Direct trade skateboard narwhal thundercats, tumeric fam lumbersexual. Vice helvetica brooklyn, tbh edison bulb authentic austin post-ironic. Organic pickled YOLO godard.</p>
      {{/tabs.tabpanel}}

      {{#tabs.tabpanel "C" class="tab-pane" id="basic-panel-c"}}
        <p>Pork belly waistcoat tbh, pour-over lyft intelligentsia man bun sartorial mumblecore live-edge plaid pok pok salvia. Keytar jean shorts distillery, kogi deep v blog hexagon meditation vegan tumblr schlitz mixtape franzen 3 wolf moon. +1 semiotics pork belly cliche food truck, paleo hell of cred vegan polaroid. Microdosing DIY craft beer messenger bag deep v. Live-edge asymmetrical williamsburg vinyl, raw denim dreamcatcher brunch lyft tilde migas glossier hashtag cliche YOLO. Banjo gochujang locavore organic. Wayfarers chambray hammock, scenester direct trade 90's disrupt activated charcoal poke kinfolk fanny pack try-hard asymmetrical vaporware.</p>
      {{/tabs.tabpanel}}
    </div>
  {{/ivy-tabs}}
</div>
