{{#ivy-tabs on-select=(action (mut selectedIndex)) selected-index=selectedIndex as |tabs|}}
  {{#tabs.tablist as |tablist|}}
    {{#tablist.tab}}Tab A{{/tablist.tab}}
    {{#tablist.tab}}Tab B{{/tablist.tab}}
    {{#tablist.tab}}Tab C{{/tablist.tab}}
  {{/tabs.tablist}}

  <div class="tab-content">
    {{#tabs.tabpanel}}
      <h2>Tab A</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel}}
      <h2>Tab B</h2>
      <p>
        Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    {{/tabs.tabpanel}}

    {{#tabs.tabpanel}}
      <h2>Tab C</h2>
      <p>
        Veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
        Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
      </p>
    {{/tabs.tabpanel}}
  </div>
{{/ivy-tabs}}
